.fond2{
  
  background-color: grey;
  
}

iframe{
  padding: 50px;
}
p{
  text-align: center;
  margin-top:25px;
  color: whitesmoke;
  font-size: 2em;
}


body{
    display: flex;
    float: left;
}
nav{
  z-index: 1;
  text-align: center;
  

}

li{
  list-style-type: none;
  background-color: black;
  text-align: center;
}

a{
  text-decoration: none;
  color:whitesmoke;
  font-weight: bolder;
  font-size: 1.4em;
  
  
  
  
}


#video-fond {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
  }
  #video-fond > video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

@media (min-aspect-ratio: 16/9) {
    #video-fond > video {
      height: 300%;
      top: -100%;
    }
  }
  @media (max-aspect-ratio: 16/9) {
    #video-fond > video {
      width: 300%;
      left: -100%;
    }
  }
  
  @supports (object-fit: cover) {
    #video-fond > video {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
  
  aside{
     float: right;
     color: white;
     z-index: 1;
     width: 250px;
     font-size: 1.1em;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bold;
     margin-left:68em;
     
     
     
  }